.tabs {
  width: 100%;
  padding: 3px 4px 0 4px;
  margin: 0 0px -1px 0;
  background: #eeeeee;
  .tab-item {
    display: inline-block;
    padding: 3px 9px;
    border: 1px solid grey;
    background: #eeeeee;
    border-top: 3px solid #999;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;

    .title {
      user-select: none;
      -webkit-user-select: none;
    }

    &.active {
      border-top: 4px solid $primary-color;
    }

    .unsaved {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $primary-color;
      border: 1px solid #666;
      top: -1px;
      margin: 0 2px;
    }

    .close {
      opacity: 0.8;
    }
  }
}