.tabs {
  width: 100%;
  padding: 5px 4px 0 4px;
  margin: 0 0px 0px 0;
  background: #eeeeee;
  .tab-item {
    transition: background 0.3s;
    -webkit-transition: background 0.3s;

    &:hover {
      background: #e3e3e3;
    }

    margin-right: -2px;
    display: inline-block;
    padding: 3px 9px;
    border: 1px solid grey;
    border-bottom: 0;
    background: #eeeeee;
    border-top: 3px solid #999;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
    &.active {
      border-top: 4px solid $primary-color;
    }

    .unsaved {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $primary-color;
      border: 1px solid #666;
      top: -1px;
      margin: 0 2px;
    }

    .close {

      transition: color 0.3s;
      -webkit-transition: color 0.3s;
      opacity: 0.8;
      position: relative;
      top: 3px;
      left: 3px;
      padding: 0 2px;
      color: darkgray;

      &:hover {
        color: orangered;
      }

    }
  }
}